.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zFixed;
    background-color: #f6f7fb;
}

/*===== NAV =====*/
.nav {
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: $headerHeight;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(10, 137, 255, .3);
        transition: .5s;
        backdrop-filter: blur(10px);
    }
}

.nav__logo-img {
    width: 166px;
}

.nav__item {
    margin-bottom: $m4;
}

.nav__link,
.nav__toggle {
    color: $titleColor;
    font-weight: $catamaranSemiBold;
    cursor: pointer;
}

.nav__link {
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
}

.nav__link:hover {
    color: $quoteColor;
}



.nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
}

/*=== Show menu ===*/
.show {
    right: 0;
}

/*Active menu*/
// .active::after {
//     position: absolute;
//     content: "";
//     width: 100%;
//     height: .18rem;
//     left: 0;
//     top: 2rem;
//     background-color: $primaryColor;
// }











































@media screen and (min-width: 768px) {

    .nav {
        height: $headerHeight + 1rem;
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: $m4;
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        text-transform: capitalize;
        color: #000;
    }

    .nav__link:hover {
        color: $quoteColor;
    }


}