/* =============== Variables =============== */
$headerHeight: 4rem;
/* =============== Colors =============== */
$primaryColor: #162441;
$titleColor: #32325c;
$paragraphColor: #546182;
$quoteColor: #0a8aff;

/* =============== Typography & Font Size =============== */

$catamaranFont: "Catamaran",
sans-serif;

$robotoFont: "Roboto",
sans-serif;
$homeFontSize: 2.5rem;
$homeDescriptionFontSize: 1.125rem;
/* 18px */
$sectionTitleFontSize: 2.25rem;
/* 36px */
$sectionSubTitleFontSize: 1.25rem;
/* 20px */
$completedAmount: 1.875rem;
/* 30px */
$completedTitle: 1rem;
/* 16px */
$serviceTitle: 1.375rem;
/* 22px */

/*===============  FONT WEIGHT ===============*/
$robotoLight: 300;
$catamaranSemiBold: 600;
$catamaranBold: 700;

/*===============  Margins ===============*/
$m1: 0.5rem;
$m2: 1rem;
$m3: 1.5rem;
$m4: 2rem;
$m5: 2.5rem;
$m6: 3rem;

/*===============  Z index ===============*/
$zFixed: 10;