@import 'variables';
@import 'global';
@import 'header';

/*===============  Classes  ===============*/
/* =============== Home =============== */
.home {
    padding-top: 4rem;

    .home__container {
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;

        .home__title {
            font-family: $catamaranFont;
            font-size: $homeFontSize;
            font-weight: $catamaranBold;
            line-height: 43px;
            color: $titleColor;
            margin-bottom: $m2;
        }


        .home__description {
            font-size: $homeDescriptionFontSize;
            font-weight: $robotoLight;
            color: $paragraphColor;
            margin: $m5 0;
        }

    }
}


/*===============  COMPLETED PROJECTS ===============*/
.completed {
    background-color: $primaryColor;

    .completed__container {
        padding: 6rem 0;
        text-align: center;
        color: #fff;

        grid-template-columns: repeat(4, 1fr);
        align-items: center;

        .completed__amount {
            font-size: $completedAmount;
        }

        .completed__title {
            font-family: $catamaranFont;
            font-size: $completedTitle;
        }
    }
}

/*===============  SERVICES ===============*/
.service__container {
    grid-template-columns: repeat(3, 1fr);

    .service__data {
        text-align: center;
        margin: $m1 0;

        .service__img {
            width: 200px;
            height: 135px;
            object-fit: cover;
        }

        .service__title {
            font-family: $catamaranFont;
            font-size: $serviceTitle;
            font-weight: $catamaranBold;
            margin: $m2 0;
        }

        .service__description {
            font-weight: $robotoLight;
            font-size: $homeDescriptionFontSize;
            line-height: 1.8;
        }
    }


}


/*===============  PROJECT ===============*/
.project {
    background-color: #e6f2ff;
    padding: 5rem 0;

    .project__container {
        padding-top: 2rem;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;

        .project__data {
            text-align: center;
            background-color: #fff;
            padding: $m2;

            .project__img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }

            .project__title {
                font-family: $catamaranFont;
                font-weight: $catamaranBold;
                font-size: $serviceTitle;
                margin: $m2 0;
            }

            .project__category {
                font-size: $completedTitle;
                font-weight: $robotoLight;
                color: #888fb8;
            }
        }
    }
}


.scroll__img:hover {
    background-position: bottom;
}

.scroll__img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    transition: ease-in-out 5s;
}

.scroll__img__one {
    background-image: url(../img/portfolio/fusiontrans.webp);
}

.scroll__img__two {
    background-image: url(../img/portfolio/portfolio.webp);
}

.scroll__img__three {
    background-image: url(../img/portfolio/global-suntech.webp);
}

.scroll__img__four {
    background-image: url(../img/portfolio/battery-supply.webp);
}

.scroll__img__five {
    background-image: url(../img/portfolio/kevinjoice.webp);
}

.scroll__img__six {
    background-image: url(../img/portfolio/halderarchitects.webp);
}


/*===============  TEAM ===============*/
.team {
    padding-top: 2rem;


    .testimonial__description {
        margin-bottom: $m5;
    }


    .team__container {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;

        .team__data {
            text-align: center;
            border: 2px solid #e2ebff;
            padding: $m2;
            border-radius: 5px;
            transition: 0.3s;

            &:hover {
                box-shadow: 0px 7px 29px 3px rgba(156, 185, 226, 0.3);
            }

            .team__img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 100px;
            }
        }


    }
}



/*===============  TESTIMONIAL ===============*/
.testimonial {
    background-color: #e6f2ff;
    padding: 4rem 0;


    .testimonial__container {
        margin-top: $m6;

        .testimonial__data {
            padding: $m2;
            background-color: #fff;

            .testimonial__text__container {
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    width: 14px;
                    height: 14px;
                    background-color: #e6f2ff;
                    position: absolute;

                    transform: scaleX(0.75) rotate(45deg);
                    border-width: 0;
                    box-sizing: content-box;
                    left: 50%;
                    transform: translateX(-50%) scaleX(0.75) rotate(45deg);
                    top: calc(100% - 7px);
                }

                .testimonial__text {
                    font-size: $sectionSubTitleFontSize;
                    font-weight: 500;
                    font-style: italic;
                    text-align: center;
                    background-color: #e6f2ff;
                    padding: $m2;
                }
            }

            .testimonial__client {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: $m2;

                .testimonial__client__img {
                    width: 50px;
                    height: 50px;
                    border-radius: 100px;
                    object-fit: cover;
                    margin-right: $m1;
                }

                .testimonial__client__data {
                    .testimonial__client__name {
                        font-size: 14px;
                        font-weight: 400;
                    }

                    .testionial__client__category {
                        font-size: 14px;
                        font-weight: $robotoLight;
                    }
                }
            }
        }
    }
}


/*===============  CONTACT US ===============*/
.contact {
    .contact__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.5rem;
        margin-top: var(--mb-5);

        .contact__form__title,
        .contact__details__title {
            font-family: $catamaranFont;
            font-size: $completedAmount;
            font-weight: $catamaranSemiBold;
        }

        .contact__form__subtitle,
        .contact__details__subtitle {
            font-size: $completedTitle;
            font-weight: 400;
        }

        .contact__input,
        .contact__button {
            outline: none;
            font-family: $robotoFont;
            font-size: $homeDescriptionFontSize;
        }

        .contact__button {
            cursor: pointer;
            border: none;
            font-size: 15px;
            width: 100%;
            padding: 0.8rem;
            border: 1px solid $primaryColor;

            &:hover {
                border: 1px solid $primaryColor;
            }
        }

        .contact__input {
            width: 100%;
            padding: 1rem;
            border: 1px solid #fff;
            background-color: #f6f6f6;
            color: $primaryColor;
            margin-bottom: $m2;

            &::placeholder {
                color: #707889;
                font-family: $robotoFont;
                font-weight: 400;
            }

            .contact__form__content {
                .contact__form {
                    margin: $m5 0 $m1 0;

                    .contact__form__inputs {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        column-gap: 1rem;


                    }
                }
            }
        }

        .contact__details {
            .contact__detail__data {

                .contact__detail__data__heading {
                    font-size: $homeDescriptionFontSize;
                    font-weight: 700;
                    margin: $m2 0;
                }

                .contact__detail__data__content {
                    display: flex;
                    align-items: center;
                    margin: $m2 0;


                    .contact__icon {
                        font-size: 20px;
                        margin-right: $m1;
                    }

                    .contact__detail__data__text {
                        font-size: 13px;
                        font-weight: 400;
                    }

                }
            }
        }

        .social {
            .social__title {
                font-size: 19px;
                font-weight: 500;
                margin: $m3 0;
                position: relative;
            }

            .social__media {
                .social__icon {
                    font-size: 1.5rem;
                    color: #162441;
                    transition: 0.3s;

                    &:hover {
                        color: #0a8aff;
                    }
                }

            }
        }
    }
}


/*===============  FOOTER ===============*/

.footer {
    background-color: $primaryColor;

    .footer__container {
        color: #fff;
        padding: $m6 0;
        grid-template-columns: repeat(4, 1fr);
        align-items: start;

        .footer__data {
            margin-top: $m2;

            .footer__text {
                font-size: 17px;
                font-weight: 300;
            }

            .footer__data__title {
                font-family: $catamaranFont;
                font-size: 19px;
                font-weight: $catamaranSemiBold;
                margin-bottom: $m2;
            }

            .social__media {
                .footer__icon {
                    color: #fff;
                    transition: 0.3s;

                    &:hover {
                        color: #0a8aff;
                    }
                }

            }
        }
    }
}

.footer__attribution__text,
.footer__copyright {
    font-size: 13px;
    font-weight: 400;
}

.footer__copyright {
    text-align: center;
    color: #fff;
    padding-bottom: $m2;
}